<div>

    <app-testing></app-testing>
    <!-- <app-nav></app-nav>
    <router-outlet *ngIf="isOnline;else isOffline"></router-outlet>
    <ng-template #isOffline>
        <div>
            <p class="offline-error">{{'offlineMessage' | translate}}&nbsp;&nbsp;&nbsp;<span>:&nbsp;)</span></p>
        </div>
    </ng-template> -->
</div>
<app-footer></app-footer>